ellipsis()
  overflow: hidden
  white-space:nowrap
  text-overflow: ellipsis
ellipsis-2()
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
ellipsis-3()
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
